In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
df=pd.read_csv("/content/data - data.csv")

In [ ]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.shape

(169, 4)

In [ ]:
df.shape[1]

4

In [ ]:
df.shape[0]

169

In [ ]:
print(f"shape of dataframe : rows= {df.shape[0]} colums={df.shape[1]}")

shape of dataframe : rows= 169 colums=4

In [ ]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
df.head(9)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1

In [ ]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [ ]:
df["Calories"]

0       409.1
1       479.0
2       340.0
3       282.4
4       406.0
5       300.0
6       374.0
7       253.3
8       195.1
9       269.0
10      329.3
11      250.7
12      345.3
13      379.3
14      275.0
15      215.2
16      300.0
17        NaN
18      323.0
19      243.0
20      364.2
21      282.0
22      300.0
23      246.0
24      334.5
25      250.0
26      241.0
27        NaN
28      280.0
29      380.3
30      243.0
31      180.1
32      299.0
33      223.0
34      361.0
35      415.0
36      300.0
37      300.0
38      300.0
39      266.0
40      180.1
41      286.0
42      329.4
43      400.0
44      397.0
45      273.0
46      387.6
47      300.0
48      298.0
49      397.6
50      380.2
51      643.1
52      263.0
53      486.0
54      238.0
55      450.7
56      413.0
57      305.0
58      226.4
59      321.0
60     1376.0
61     1034.4
62      853.0
63      341.0
64      131.4
65      800.4
66      873.4
67      816.0
68      110.4
69     1500.2
70     1115.0
71      387.6
72      700.0
73      953.2
74      304.0
75      563.2
76      251.0
77      300.0
78      500.4
79     1729.0
80      319.2
81      344.0
82      151.1
83      500.0
84      225.3
85      300.0
86      234.0
87     1000.1
88      242.0
89       50.3
90      600.1
91        NaN
92      105.3
93       50.5
94      127.4
95      229.4
96      128.2
97      244.2
98      188.2
99      604.1
100      77.7
101     500.0
102     500.0
103     500.4
104      92.7
105     124.0
106     800.3
107      86.2
108     500.3
109    1860.4
110     325.2
111     275.0
112     124.2
113     225.3
114     367.6
115     351.7
116     443.0
117     277.4
118       NaN
119     332.7
120     193.9
121     100.7
122     336.7
123     344.9
124     368.5
125     271.0
126     275.3
127     382.0
128     466.4
129     384.0
130     342.5
131     357.5
132     335.0
133     327.5
134     339.0
135     189.0
136     317.7
137     318.0
138     308.0
139     222.4
140     390.0
141       NaN
142     250.4
143     335.4
144     470.2
145     270.8
146     400.0
147     361.9
148     185.0
149     409.4
150     343.0
151     353.2
152     374.0
153     275.8
154     328.0
155     368.5
156     270.4
157     270.4
158     382.8
159     240.9
160     250.4
161     260.4
162     270.0
163     280.9
164     290.8
165     300.0
166     310.2
167     320.4
168     330.4
Name: Calories, dtype: float64

In [ ]:
df["Duration"]

0       60
1       60
2       60
3       45
4       45
5       60
6       60
7       45
8       30
9       60
10      60
11      60
12      60
13      60
14      60
15      60
16      60
17      45
18      60
19      45
20      60
21      45
22      60
23      45
24      60
25      60
26      60
27      60
28      60
29      60
30      60
31      45
32      60
33      60
34      60
35      60
36      60
37      60
38      60
39      45
40      45
41      60
42      60
43      60
44      60
45      60
46      60
47      45
48      45
49      60
50      60
51      80
52      60
53      60
54      30
55      60
56      60
57      45
58      20
59      45
60     210
61     160
62     160
63      45
64      20
65     180
66     150
67     150
68      20
69     300
70     150
71      60
72      90
73     150
74      45
75      90
76      45
77      45
78     120
79     270
80      30
81      45
82      30
83     120
84      45
85      30
86      45
87     120
88      45
89      20
90     180
91      45
92      30
93      15
94      20
95      20
96      30
97      25
98      30
99      90
100     20
101     90
102     90
103     90
104     30
105     30
106    180
107     30
108     90
109    210
110     60
111     45
112     15
113     45
114     60
115     60
116     60
117     60
118     60
119     60
120     30
121     45
122     60
123     60
124     60
125     60
126     60
127     60
128     90
129     60
130     60
131     60
132     60
133     60
134     60
135     20
136     45
137     45
138     45
139     20
140     60
141     60
142     45
143     45
144     60
145     45
146     60
147     60
148     30
149     60
150     60
151     60
152     60
153     30
154     60
155     60
156     60
157     60
158     60
159     30
160     30
161     45
162     45
163     45
164     60
165     60
166     60
167     75
168     75
Name: Duration, dtype: int64

In [ ]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

## Another Data

In [ ]:
df1=pd.read_csv("/content/company info - Sheet1.csv")

In [ ]:
print(df1)

    emp_id      emp_name             job role  salary  experience
0     1001         edwin              teacher   30000           2
1     1002         david              trainer   35000           3
2     1003        shifan               farmer   23000           4
3     1004         insaf              plumber   35000           2
4     1005         shijo               barber   10000           1
5     1006        adarsh               driver   23000           5
6     1007         madhu               helper   60000           3
7     1008         najad              cleaner   70000           2
8     1009          ajin                 cook   80000           4
9     1010          lijo            developer   67000           2
10    1011          sijo           accountant   45000           3
11    1012          biju              manager   68400           1
12    1013         baiju             chairman   87850           3
13    1014         shiju               police   46750           4
14    1015           abi                   hr   90000           3
15    1016        abinav            marketing   75000           3
16    1017        salman                  ceo  100000           2
17    1018         sanju               doctor   50000           4
18    1019        farhan             engineer   80000           1
19    1020          zain                nurse   20500           3
20    1021          ebin             catering  355000           5
21    1022        raseel            carpender   54600           2
22    1023        rishad              teacher  454600           4
23    1024          jijo             security   47500           4
24    1025         aslam            condector    9000           2
25    1026       sugunan               waiter    5000           2
26    1027           sam               helper    6000           4
27    1028          alwi               pailet   67000           5
28    1029        pranji             engineer   67000           6
29    1030         binoy              airhost   76900           2
30    1031         benny    marketing manager   90000           3
31    1032         mellu             mechanic   50000           1
32    1033         jeeva               helper   30000           4
33    1034          suni                shuff   70500           2
34    1035         kalam              fireman   65700           5
35    1036           ajo       forest officer  100000           2
36    1037          lalu        animal doctor   73830           2
37    1038          manu               doctor   83830           1
38    1039     emmanuvel              trainer    5750           1
39    1040         saaka               exerse   75870           4
40    1041       ronaldo               driver  900000           3
41    1042         messi         business man  970000           5
42    1043           abu             mechanic    5000           3
43    1044          joel  digital engineering    7000           2
44    1045          noha                   ca  577700           4
45    1046        kannus                staff   50000           1
46    1047         sunny              cashier   90000          11
47    1048          miya            collector  849900          10
48    1049  danidaniyels             minister   90900           8
49    1050       thulasi             cleaning   15000           4

In [ ]:
print(df1.to_string())

    emp_id      emp_name             job role  salary  experience
0     1001         edwin              teacher   30000           2
1     1002         david              trainer   35000           3
2     1003        shifan               farmer   23000           4
3     1004         insaf              plumber   35000           2
4     1005         shijo               barber   10000           1
5     1006        adarsh               driver   23000           5
6     1007         madhu               helper   60000           3
7     1008         najad              cleaner   70000           2
8     1009          ajin                 cook   80000           4
9     1010          lijo            developer   67000           2
10    1011          sijo           accountant   45000           3
11    1012          biju              manager   68400           1
12    1013         baiju             chairman   87850           3
13    1014         shiju               police   46750           4
14    1015           abi                   hr   90000           3
15    1016        abinav            marketing   75000           3
16    1017        salman                  ceo  100000           2
17    1018         sanju               doctor   50000           4
18    1019        farhan             engineer   80000           1
19    1020          zain                nurse   20500           3
20    1021          ebin             catering  355000           5
21    1022        raseel            carpender   54600           2
22    1023        rishad              teacher  454600           4
23    1024          jijo             security   47500           4
24    1025         aslam            condector    9000           2
25    1026       sugunan               waiter    5000           2
26    1027           sam               helper    6000           4
27    1028          alwi               pailet   67000           5
28    1029        pranji             engineer   67000           6
29    1030         binoy              airhost   76900           2
30    1031         benny    marketing manager   90000           3
31    1032         mellu             mechanic   50000           1
32    1033         jeeva               helper   30000           4
33    1034          suni                shuff   70500           2
34    1035         kalam              fireman   65700           5
35    1036           ajo       forest officer  100000           2
36    1037          lalu        animal doctor   73830           2
37    1038          manu               doctor   83830           1
38    1039     emmanuvel              trainer    5750           1
39    1040         saaka               exerse   75870           4
40    1041       ronaldo               driver  900000           3
41    1042         messi         business man  970000           5
42    1043           abu             mechanic    5000           3
43    1044          joel  digital engineering    7000           2
44    1045          noha                   ca  577700           4
45    1046        kannus                staff   50000           1
46    1047         sunny              cashier   90000          11
47    1048          miya            collector  849900          10
48    1049  danidaniyels             minister   90900           8
49    1050       thulasi             cleaning   15000           4

In [ ]:
print(df1.head())

   emp_id emp_name job role  salary  experience
0    1001    edwin  teacher   30000           2
1    1002    david  trainer   35000           3
2    1003   shifan   farmer   23000           4
3    1004    insaf  plumber   35000           2
4    1005    shijo   barber   10000           1

In [ ]:
print(df1.head(9))

   emp_id emp_name job role  salary  experience
0    1001    edwin  teacher   30000           2
1    1002    david  trainer   35000           3
2    1003   shifan   farmer   23000           4
3    1004    insaf  plumber   35000           2
4    1005    shijo   barber   10000           1
5    1006   adarsh   driver   23000           5
6    1007    madhu   helper   60000           3
7    1008    najad  cleaner   70000           2
8    1009     ajin     cook   80000           4

In [ ]:
print(df1.tail())

    emp_id      emp_name   job role  salary  experience
45    1046        kannus      staff   50000           1
46    1047         sunny    cashier   90000          11
47    1048          miya  collector  849900          10
48    1049  danidaniyels   minister   90900           8
49    1050       thulasi   cleaning   15000           4

In [ ]:
print(df1.tail(6))

    emp_id      emp_name   job role  salary  experience
44    1045          noha         ca  577700           4
45    1046        kannus      staff   50000           1
46    1047         sunny    cashier   90000          11
47    1048          miya  collector  849900          10
48    1049  danidaniyels   minister   90900           8
49    1050       thulasi   cleaning   15000           4

In [ ]:
print(df1.describe())

           emp_id         salary  experience
count    50.00000      50.000000   50.000000
mean   1025.50000  128801.600000    3.340000
std      14.57738  224617.455937    2.086008
min    1001.00000    5000.000000    1.000000
25%    1013.25000   31250.000000    2.000000
50%    1025.50000   67000.000000    3.000000
75%    1037.75000   86845.000000    4.000000
max    1050.00000  970000.000000   11.000000

In [ ]:
df1["emp_id"]

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
40    1041
41    1042
42    1043
43    1044
44    1045
45    1046
46    1047
47    1048
48    1049
49    1050
Name: emp_id, dtype: int64

In [ ]:
df1.columns

Index(['emp_id', 'emp_name', 'job role', 'salary', 'experience'], dtype='object')

In [ ]:
print(df1.loc[0])

emp_id           1001
emp_name        edwin
job role      teacher
salary          30000
experience          2
Name: 0, dtype: object

In [ ]:
print(df1.loc[[1,2]])

   emp_id emp_name job role  salary  experience
1    1002    david  trainer   35000           3
2    1003   shifan   farmer   23000           4

In [ ]:
print(df1.loc[2:4])

   emp_id emp_name job role  salary  experience
2    1003   shifan   farmer   23000           4
3    1004    insaf  plumber   35000           2
4    1005    shijo   barber   10000           1

In [ ]:
print(df1.loc[3,"salary"])

35000

In [ ]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      50 non-null     int64
 1   emp_name    50 non-null     object
 2   job role    50 non-null     object
 3   salary      50 non-null     int64
 4   experience  50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB
None

In [ ]:
df1.tail(4)

    emp_id      emp_name   job role  salary  experience
46    1047         sunny    cashier   90000          11
47    1048          miya  collector  849900          10
48    1049  danidaniyels   minister   90900           8
49    1050       thulasi   cleaning   15000           4

In [ ]:
df2=pd.read_csv("/content/company info - Sheet1 (1).csv")

In [ ]:
df2

    emp_id      emp_name             job role    salary  experience
0     1001         edwin              teacher   30000.0         2.0
1     1002         david              trainer       NaN         3.0
2     1003        shifan               farmer   23000.0         4.0
3     1004         insaf              plumber   35000.0         2.0
4     1005         shijo               barber   10000.0         1.0
5     1006        adarsh               driver   23000.0         5.0
6     1007         madhu               helper   60000.0         3.0
7     1008           NaN              cleaner   70000.0         NaN
8     1009          ajin                 cook   80000.0         4.0
9     1010          lijo            developer   67000.0         2.0
10    1011          sijo           accountant   45000.0         3.0
11    1012          biju              manager   68400.0         1.0
12    1013         baiju             chairman   87850.0         3.0
13    1014         shiju               police   46750.0         4.0
14    1015           abi                   hr   90000.0         3.0
15    1016        abinav            marketing   75000.0         3.0
16    1017        salman                  ceo       NaN         2.0
17    1018         sanju               doctor   50000.0         4.0
18    1019        farhan             engineer   80000.0         1.0
19    1020          zain                nurse   20500.0         3.0
20    1021          ebin             catering  355000.0         5.0
21    1022           NaN            carpender   54600.0         2.0
22    1023        rishad              teacher  454600.0         4.0
23    1024          jijo             security   47500.0         4.0
24    1025         aslam            condector    9000.0         2.0
25    1026       sugunan               waiter    5000.0         2.0
26    1027           sam               helper    6000.0         4.0
27    1028          alwi               pailet       NaN         5.0
28    1029        pranji             engineer   67000.0         6.0
29    1030         binoy                  NaN   76900.0         2.0
30    1031         benny    marketing manager   90000.0         3.0
31    1032         mellu             mechanic   50000.0         1.0
32    1033         jeeva                  NaN   30000.0         4.0
33    1034          suni                shuff   70500.0         2.0
34    1035           NaN              fireman   65700.0         5.0
35    1036           ajo       forest officer  100000.0         2.0
36    1037          lalu        animal doctor       NaN         2.0
37    1038          manu               doctor   83830.0         1.0
38    1039     emmanuvel              trainer    5750.0         1.0
39    1040         saaka               exerse   75870.0         4.0
40    1041       ronaldo               driver  900000.0         3.0
41    1042         messi         business man  970000.0         5.0
42    1043           abu             mechanic    5000.0         3.0
43    1044          joel  digital engineering    7000.0         2.0
44    1045          noha                   ca  577700.0         4.0
45    1046        kannus                staff   50000.0         1.0
46    1047         sunny              cashier   90000.0        11.0
47    1048          miya            collector  849900.0        10.0
48    1049  danidaniyels             minister   90900.0         8.0
49    1050       thulasi             cleaning   15000.0         4.0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      50 non-null     int64
 1   emp_name    47 non-null     object
 2   job role    48 non-null     object
 3   salary      46 non-null     float64
 4   experience  49 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [ ]:
df3=pd.read_csv("/content/company info - Sheet1 (1).csv")
df3

    emp_id      emp_name             job role    salary  experience
0     1001         edwin              teacher   30000.0         2.0
1     1002         david              trainer       NaN         3.0
2     1003        shifan               farmer   23000.0         4.0
3     1004         insaf              plumber   35000.0         2.0
4     1005         shijo               barber   10000.0         1.0
5     1006        adarsh               driver   23000.0         5.0
6     1007         madhu               helper   60000.0         3.0
7     1008           NaN              cleaner   70000.0         NaN
8     1009          ajin                 cook   80000.0         4.0
9     1010          lijo            developer   67000.0         2.0
10    1011          sijo           accountant   45000.0         3.0
11    1012          biju              manager   68400.0         1.0
12    1013         baiju             chairman   87850.0         3.0
13    1014         shiju               police   46750.0         4.0
14    1015           abi                   hr   90000.0         3.0
15    1016        abinav            marketing   75000.0         3.0
16    1017        salman                  ceo       NaN         2.0
17    1018         sanju               doctor   50000.0         4.0
18    1019        farhan             engineer   80000.0         1.0
19    1020          zain                nurse   20500.0         3.0
20    1021          ebin             catering  355000.0         5.0
21    1022           NaN            carpender   54600.0         2.0
22    1023        rishad              teacher  454600.0         4.0
23    1024          jijo             security   47500.0         4.0
24    1025         aslam            condector    9000.0         2.0
25    1026       sugunan               waiter    5000.0         2.0
26    1027           sam               helper    6000.0         4.0
27    1028          alwi               pailet       NaN         5.0
28    1029        pranji             engineer   67000.0         6.0
29    1030         binoy                  NaN   76900.0         2.0
30    1031         benny    marketing manager   90000.0         3.0
31    1032         mellu             mechanic   50000.0         1.0
32    1033         jeeva                  NaN   30000.0         4.0
33    1034          suni                shuff   70500.0         2.0
34    1035           NaN              fireman   65700.0         5.0
35    1036           ajo       forest officer  100000.0         2.0
36    1037          lalu        animal doctor       NaN         2.0
37    1038          manu               doctor   83830.0         1.0
38    1039     emmanuvel              trainer    5750.0         1.0
39    1040         saaka               exerse   75870.0         4.0
40    1041       ronaldo               driver  900000.0         3.0
41    1042         messi         business man  970000.0         5.0
42    1043           abu             mechanic    5000.0         3.0
43    1044          joel  digital engineering    7000.0         2.0
44    1045          noha                   ca  577700.0         4.0
45    1046        kannus                staff   50000.0         1.0
46    1047         sunny              cashier   90000.0        11.0
47    1048          miya            collector  849900.0        10.0
48    1049  danidaniyels             minister   90900.0         8.0
49    1050       thulasi             cleaning   15000.0         4.0

In [ ]:
pd.options.display.max_rows=30 #default is 60

In [ ]:
print(pd.options.display.max_rows)

30

In [ ]:
df3

    emp_id      emp_name   job role    salary  experience
0     1001         edwin    teacher   30000.0         2.0
1     1002         david    trainer       NaN         3.0
2     1003        shifan     farmer   23000.0         4.0
3     1004         insaf    plumber   35000.0         2.0
4     1005         shijo     barber   10000.0         1.0
..     ...           ...        ...       ...         ...
45    1046        kannus      staff   50000.0         1.0
46    1047         sunny    cashier   90000.0        11.0
47    1048          miya  collector  849900.0        10.0
48    1049  danidaniyels   minister   90900.0         8.0
49    1050       thulasi   cleaning   15000.0         4.0

[50 rows x 5 columns]

In [ ]:
pd.options.display.max_rows = 100

In [ ]:
print(df3)

    emp_id      emp_name             job role    salary  experience
0     1001         edwin              teacher   30000.0         2.0
1     1002         david              trainer       NaN         3.0
2     1003        shifan               farmer   23000.0         4.0
3     1004         insaf              plumber   35000.0         2.0
4     1005         shijo               barber   10000.0         1.0
5     1006        adarsh               driver   23000.0         5.0
6     1007         madhu               helper   60000.0         3.0
7     1008           NaN              cleaner   70000.0         NaN
8     1009          ajin                 cook   80000.0         4.0
9     1010          lijo            developer   67000.0         2.0
10    1011          sijo           accountant   45000.0         3.0
11    1012          biju              manager   68400.0         1.0
12    1013         baiju             chairman   87850.0         3.0
13    1014         shiju               police   46750.0         4.0
14    1015           abi                   hr   90000.0         3.0
15    1016        abinav            marketing   75000.0         3.0
16    1017        salman                  ceo       NaN         2.0
17    1018         sanju               doctor   50000.0         4.0
18    1019        farhan             engineer   80000.0         1.0
19    1020          zain                nurse   20500.0         3.0
20    1021          ebin             catering  355000.0         5.0
21    1022           NaN            carpender   54600.0         2.0
22    1023        rishad              teacher  454600.0         4.0
23    1024          jijo             security   47500.0         4.0
24    1025         aslam            condector    9000.0         2.0
25    1026       sugunan               waiter    5000.0         2.0
26    1027           sam               helper    6000.0         4.0
27    1028          alwi               pailet       NaN         5.0
28    1029        pranji             engineer   67000.0         6.0
29    1030         binoy                  NaN   76900.0         2.0
30    1031         benny    marketing manager   90000.0         3.0
31    1032         mellu             mechanic   50000.0         1.0
32    1033         jeeva                  NaN   30000.0         4.0
33    1034          suni                shuff   70500.0         2.0
34    1035           NaN              fireman   65700.0         5.0
35    1036           ajo       forest officer  100000.0         2.0
36    1037          lalu        animal doctor       NaN         2.0
37    1038          manu               doctor   83830.0         1.0
38    1039     emmanuvel              trainer    5750.0         1.0
39    1040         saaka               exerse   75870.0         4.0
40    1041       ronaldo               driver  900000.0         3.0
41    1042         messi         business man  970000.0         5.0
42    1043           abu             mechanic    5000.0         3.0
43    1044          joel  digital engineering    7000.0         2.0
44    1045          noha                   ca  577700.0         4.0
45    1046        kannus                staff   50000.0         1.0
46    1047         sunny              cashier   90000.0        11.0
47    1048          miya            collector  849900.0        10.0
48    1049  danidaniyels             minister   90900.0         8.0
49    1050       thulasi             cleaning   15000.0         4.0

# Read Json files

In [ ]:
import pandas as pd

In [ ]:
df2=pd.read_json("/content/iris.json")

In [ ]:
print(df2.to_string())

     sepalLength  sepalWidth  petalLength  petalWidth     species
0            5.1         3.5          1.4         0.2      setosa
1            4.9         3.0          1.4         0.2      setosa
2            4.7         3.2          1.3         0.2      setosa
3            4.6         3.1          1.5         0.2      setosa
4            5.0         3.6          1.4         0.2      setosa
5            5.4         3.9          1.7         0.4      setosa
6            4.6         3.4          1.4         0.3      setosa
7            5.0         3.4          1.5         0.2      setosa
8            4.4         2.9          1.4         0.2      setosa
9            4.9         3.1          1.5         0.1      setosa
10           5.4         3.7          1.5         0.2      setosa
11           4.8         3.4          1.6         0.2      setosa
12           4.8         3.0          1.4         0.1      setosa
13           4.3         3.0          1.1         0.1      setosa
14           5.8         4.0          1.2         0.2      setosa
15           5.7         4.4          1.5         0.4      setosa
16           5.4         3.9          1.3         0.4      setosa
17           5.1         3.5          1.4         0.3      setosa
18           5.7         3.8          1.7         0.3      setosa
19           5.1         3.8          1.5         0.3      setosa
20           5.4         3.4          1.7         0.2      setosa
21           5.1         3.7          1.5         0.4      setosa
22           4.6         3.6          1.0         0.2      setosa
23           5.1         3.3          1.7         0.5      setosa
24           4.8         3.4          1.9         0.2      setosa
25           5.0         3.0          1.6         0.2      setosa
26           5.0         3.4          1.6         0.4      setosa
27           5.2         3.5          1.5         0.2      setosa
28           5.2         3.4          1.4         0.2      setosa
29           4.7         3.2          1.6         0.2      setosa
30           4.8         3.1          1.6         0.2      setosa
31           5.4         3.4          1.5         0.4      setosa
32           5.2         4.1          1.5         0.1      setosa
33           5.5         4.2          1.4         0.2      setosa
34           4.9         3.1          1.5         0.2      setosa
35           5.0         3.2          1.2         0.2      setosa
36           5.5         3.5          1.3         0.2      setosa
37           4.9         3.6          1.4         0.1      setosa
38           4.4         3.0          1.3         0.2      setosa
39           5.1         3.4          1.5         0.2      setosa
40           5.0         3.5          1.3         0.3      setosa
41           4.5         2.3          1.3         0.3      setosa
42           4.4         3.2          1.3         0.2      setosa
43           5.0         3.5          1.6         0.6      setosa
44           5.1         3.8          1.9         0.4      setosa
45           4.8         3.0          1.4         0.3      setosa
46           5.1         3.8          1.6         0.2      setosa
47           4.6         3.2          1.4         0.2      setosa
48           5.3         3.7          1.5         0.2      setosa
49           5.0         3.3          1.4         0.2      setosa
50           7.0         3.2          4.7         1.4  versicolor
51           6.4         3.2          4.5         1.5  versicolor
52           6.9         3.1          4.9         1.5  versicolor
53           5.5         2.3          4.0         1.3  versicolor
54           6.5         2.8          4.6         1.5  versicolor
55           5.7         2.8          4.5         1.3  versicolor
56           6.3         3.3          4.7         1.6  versicolor
57           4.9         2.4          3.3         1.0  versicolor
58           6.6         2.9          4.6         1.3  versicolor
59           5.2         2.7          3.9         1.4  versicolor
60           5.0         2.0          3.5         1.0  versicolor
61           5.9         3.0          4.2         1.5  versicolor
62           6.0         2.2          4.0         1.0  versicolor
63           6.1         2.9          4.7         1.4  versicolor
64           5.6         2.9          3.6         1.3  versicolor
65           6.7         3.1          4.4         1.4  versicolor
66           5.6         3.0          4.5         1.5  versicolor
67           5.8         2.7          4.1         1.0  versicolor
68           6.2         2.2          4.5         1.5  versicolor
69           5.6         2.5          3.9         1.1  versicolor
70           5.9         3.2          4.8         1.8  versicolor
71           6.1         2.8          4.0         1.3  versicolor
72           6.3         2.5          4.9         1.5  versicolor
73           6.1         2.8          4.7         1.2  versicolor
74           6.4         2.9          4.3         1.3  versicolor
75           6.6         3.0          4.4         1.4  versicolor
76           6.8         2.8          4.8         1.4  versicolor
77           6.7         3.0          5.0         1.7  versicolor
78           6.0         2.9          4.5         1.5  versicolor
79           5.7         2.6          3.5         1.0  versicolor
80           5.5         2.4          3.8         1.1  versicolor
81           5.5         2.4          3.7         1.0  versicolor
82           5.8         2.7          3.9         1.2  versicolor
83           6.0         2.7          5.1         1.6  versicolor
84           5.4         3.0          4.5         1.5  versicolor
85           6.0         3.4          4.5         1.6  versicolor
86           6.7         3.1          4.7         1.5  versicolor
87           6.3         2.3          4.4         1.3  versicolor
88           5.6         3.0          4.1         1.3  versicolor
89           5.5         2.5          4.0         1.3  versicolor
90           5.5         2.6          4.4         1.2  versicolor
91           6.1         3.0          4.6         1.4  versicolor
92           5.8         2.6          4.0         1.2  versicolor
93           5.0         2.3          3.3         1.0  versicolor
94           5.6         2.7          4.2         1.3  versicolor
95           5.7         3.0          4.2         1.2  versicolor
96           5.7         2.9          4.2         1.3  versicolor
97           6.2         2.9          4.3         1.3  versicolor
98           5.1         2.5          3.0         1.1  versicolor
99           5.7         2.8          4.1         1.3  versicolor
100          6.3         3.3          6.0         2.5   virginica
101          5.8         2.7          5.1         1.9   virginica
102          7.1         3.0          5.9         2.1   virginica
103          6.3         2.9          5.6         1.8   virginica
104          6.5         3.0          5.8         2.2   virginica
105          7.6         3.0          6.6         2.1   virginica
106          4.9         2.5          4.5         1.7   virginica
107          7.3         2.9          6.3         1.8   virginica
108          6.7         2.5          5.8         1.8   virginica
109          7.2         3.6          6.1         2.5   virginica
110          6.5         3.2          5.1         2.0   virginica
111          6.4         2.7          5.3         1.9   virginica
112          6.8         3.0          5.5         2.1   virginica
113          5.7         2.5          5.0         2.0   virginica
114          5.8         2.8          5.1         2.4   virginica
115          6.4         3.2          5.3         2.3   virginica
116          6.5         3.0          5.5         1.8   virginica
117          7.7         3.8          6.7         2.2   virginica
118          7.7         2.6          6.9         2.3   virginica
119          6.0         2.2          5.0         1.5   virginica
120          6.9         3.2          5.7         2.3   virginica
121          5.6         2.8          4.9         2.0   virginica
122          7.7         2.8          6.7         2.0   virginica
123          6.3         2.7          4.9         1.8   virginica
124          6.7         3.3          5.7         2.1   virginica
125          7.2         3.2          6.0         1.8   virginica
126          6.2         2.8          4.8         1.8   virginica
127          6.1         3.0          4.9         1.8   virginica
128          6.4         2.8          5.6         2.1   virginica
129          7.2         3.0          5.8         1.6   virginica
130          7.4         2.8          6.1         1.9   virginica
131          7.9         3.8          6.4         2.0   virginica
132          6.4         2.8          5.6         2.2   virginica
133          6.3         2.8          5.1         1.5   virginica
134          6.1         2.6          5.6         1.4   virginica
135          7.7         3.0          6.1         2.3   virginica
136          6.3         3.4          5.6         2.4   virginica
137          6.4         3.1          5.5         1.8   virginica
138          6.0         3.0          4.8         1.8   virginica
139          6.9         3.1          5.4         2.1   virginica
140          6.7         3.1          5.6         2.4   virginica
141          6.9         3.1          5.1         2.3   virginica
142          5.8         2.7          5.1         1.9   virginica
143          6.8         3.2          5.9         2.3   virginica
144          6.7         3.3          5.7         2.5   virginica
145          6.7         3.0          5.2         2.3   virginica
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica

# Dictionary as JSON

In [ ]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  }
  }
df = pd.DataFrame(data)
print(df)

   Duration  Pulse
0        60    110
1        60    117
2        60    103
3        45    109
4        45    117
5        60    102